.access {
  background-color: #ffffff;
  border-radius: 25px;
  color: #000000;
  margin-top: 1%;
  margin-right: 1%;
  padding: 2px 5px;
  position: absolute;
  font-weight: 500;
  top: 0;
  right: 0;
  border: none;
}

.access:hover {
  background-color: #6c6e72; /* 懸停時變為稍微淺一些的深灰色 */
  transform: scale(1.05); /* 懸停時輕微放大按鈕 */
}

.access:focus {
  outline: none; /* 移除按鈕聚焦時的外圍輪廓 */
}


.card-border {
  border: 2px solid rgb(64, 117, 223);
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.surveyName-border {
  border: 1px solid rgb(0, 0, 3);
  border-radius: 5px;
}

.date-border {
  border: 1px solid rgb(0, 0, 3);
  border-radius: 5px;
}

.stats-time {
  position: relative;
  top: 5px;
}

// 調整表單在較小螢幕上的邊距
@media (max-width: 768px) {
  .card-border {
    margin-left: 5%;
    margin-right: 5%;
  }
}
