<div class="container">
  <div class="login-box">
      <h2>登入</h2>
          <div class="textbox">
              <input type="text" placeholder="電子郵件" required [(ngModel)]="email">
          </div>
          <div class="textbox">
              <input type="password" placeholder="密碼" required [(ngModel)]="password">
          </div>
          <button (click)="navigateToList()">登入</button>
          <div style="font-size: 0.5rem; padding: 0.5rem;">
            <p>帳號：admin&#64;gmail.com</p>
            <p>密碼：admin</p>
          </div>
  </div>
</div>


