<h5 class="text-end" style="position: absolute; right: 20px; top: 20px; font-size: 1rem;  margin-top: 5%;" >
  填寫日期： {{ fillinDate }}
</h5>
<h2 style="display: flex; justify-content: center; margin-top: 5%;">{{ quizName }}</h2>
<div style="margin-left: 12%; margin-right: 12%;"> {{ quizDesc }} </div>

<div class="container" >
  <div class="border p-4 rounded " style="border: 1px solid black !important; ">

    <!-- 姓名 -->
    <div class="mb-3 d-flex align-items-center">
      <label for="name" class="form-label mb-0 me-2"> 姓名： </label>
      <span> {{ userName }} </span>
    </div>

    <!-- 手機 -->
    <div class="mb-3 d-flex align-items-center">
      <label for="phone" class="form-label mb-0 me-2"> 手機： </label>
      <span> {{ phone }} </span>
    </div>

    <!-- Email -->
    <div class="mb-3 d-flex align-items-center">
      <label for="email" class="form-label mb-0 me-2"> Email： </label>
      <span> {{ email }} </span>
    </div>

    <!-- 年齡 -->
    <div class="mb-3 d-flex align-items-center">
      <label for="age" class="form-label mb-0 me-2"> 年齡： </label>
      <span> {{ age }} </span>
    </div>
    <br>

    <!-- 題目列表 -->
    <ol>
      @for (quest of questions; track $index) {
        <li class="mb-4">

          <!-- 題目區塊，加入黑色邊框、內邊距和圓角 -->
          <div class="border border-dark p-3 rounded">
            <h6>
              {{ quest.quesName }}
            </h6>

           @for (item of answer[$index] ; track $index) {
              <ol>
                <li>
                  <div>
                    <span> {{ item }} </span>
                  </div>
                </li>
              </ol>
           }
          </div>
        </li>
      }
    </ol>


     <!-- 按鈕 -->

    <div class="d-flex justify-content-start mt-3"  style="padding-top: 2%;">
      <button class="btn btn-secondary me-2" (click)="navigateToAd()"> 回上一頁 </button>
    </div>
  </div>
</div>



